.devfestngview{
  padding-top: 250px;
}

html, body {
  font-family: 'RobotoLight', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.2;
  color: #444;
}

header, div.devfestheader {
  color: #777;
  background-color: #DDD;
/*  -moz-box-shadow: 0px 2px 5px grey;
  -webkit-box-shadow: 0px 2px 5px grey;
  box-shadow: 0px 2px 5px grey; */
}

footer {
  color: white;
  line-height: 50px;
  height: 50px;
  background-color: #333;
}

.bkg-nav {
  background-color: #333;
}

.g-blue {
  color: #0034AA;
}

.g-red {
  color: #BF0404;
}

.g-green {
  color: #32A62E;
}

.bkg-header-bottom {
  width: 100%;
  height: 33px;
  background-image: url(../images/devfest/background_bottom.png);
  background-repeat: repeat-x;
}

/* links */
a, a:visited {
  text-decoration: none;
  color: #0099CC;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

a:hover, a:focus, a:visited:hover, a:visited:focus {
  text-decoration: none;
  color: #198d98;
  cursor: pointer;
}

/* icon links */
a.white, a.white:visited {
  color: white;
  text-decoration: underline;
}

a.white:hover, a.white:focus, a.white:visited:hover, a.white:visited:focus {
  color: #222;
  cursor: pointer;
}

a.icons, a.icons:visited {
  color: #777;
  text-decoration: none;
}

h1 {
  font-family: 'RobotoThin', Arial, sans-serif;
  font-size: 3.5em;
  margin: 5px;
  white-space: nowrap;
}

h1 small{
  font-size: 0.4em;
}

h1.siteTitle a, h1.siteTitle a:visited, h1.siteTitle a:hover, h1.siteTitle a:focus, 
h1.siteTitle a:visited:hover, h1.siteTitle a:visited:focus{
  color:#777;
}

h3 {
  font-family: 'RobotoBoldCondensedItalic', Arial, sans-serif;
  letter-spacing: 2px;
  margin: 0px;
}

h3.border {
  border-bottom: 1px solid  #777;
}

h4 {
  font-family: 'RobotoCondensed', Arial, sans-serif;
  letter-spacing: 2px;
  margin: 0px;
}

h5 {
  font-family: 'RobotoCondensed', Arial, sans-serif;
  letter-spacing: 1px;
  margin: 0px;
}

hr {
  margin: 0px;
}

.green {
  color: #99cc00;
}

.robotoblack {
  font-family: 'RobotoBold', Arial, sans-serif;
}



/* Ground work menu override */
nav ul li {
  height: 50px;
  padding-top: 10px;
}

nav ul li a, nav ul li a:visited {
  background: transparent;
  border-top: none;
}

nav ul li a:hover, nav ul li a:focus, nav ul li a:visited:hover, nav ul li a:visited:focus {
  background: transparent;
  text-decoration: none;
}

/* Active navigation indicator */
nav ul li.active {
  background: url(../images/devfest/menu_select.png) no-repeat center bottom;
}

/* Active navigation indicator on mobile */
@media only screen and (max-width: 768px) {
  nav ul li {
    height: 25px;
    padding-top: 0px;
  }
  nav ul li.active {
    background: #888;
  }
}

nav ul li:first-child a, nav ul li:first-child a:visited {
  border-top: none;
}

nav ul li.menu.on > a, nav ul li.menu.on > a:visited {
  background: transparent;
  text-decoration: none;
}

/* Ground work mobile menu override */
@media only screen and (max-width: 768px) {
  nav.menu {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    background: url(../images/devfest/chevron_small.png) no-repeat 5px 7px;
  }

  nav.menu:before {
    content: attr(data-label);
    float: left;
    color: white;
    padding-left: 30px;
    line-height: 2.1;
  }
}

/* Toggle menu in mobile resolution */ 
nav.menu .menu-toggle, a.button, nav.menu a.menu-toggle, a.button:visited, nav.menu a.menu-toggle:visited {
  background: #DDD;
  border: 1px solid #333;
  color: black;
}

nav.menu > ul li a, nav.menu > ul li a:visited, nav.menu > ul.row li a, nav.menu > ul.row li a:visited {
  border: none;
}

nav.menu > ul li a:hover, nav.menu > ul li a:focus, nav.menu > ul li a:visited:hover, nav.menu > ul li a:visited:focus, nav.menu > ul.row li a:hover, nav.menu > ul.row li a:focus, nav.menu > ul.row li a:visited:hover, nav.menu > ul.row li a:visited:focus {
  border: none;
}

/* Menu stick height */
.stickheight {
  height: 170px;
}

@media only screen and (min-width: 769px)  and (max-width: 850px) {
  .stickheight {
    height: 245px;
  }
}
/* Menu stick height */
@media only screen and (max-width: 768px) {
  .stickheight {
    height: 0px;
  }

  .stick {
    position: relative;
  }
}

/* Sponsors styles */
.sponsors div {
  color: white;
}

.sponsors div span {
  font-variant: small-caps;
  font-family: 'RobotoCondensed', Arial, sans-serif;
  letter-spacing: 0.3em;
  font-size: 2em;
}

.sponsors img {
  padding: 3px;
  line-height: 150px;
}

.premium {
   border: 1px solid #a40400;
  border-left: 7px solid #a40400;
}

.premium span {
  color: #a40400;
}

.premium img{
  max-width: 300px;
  max-height: 150px;
}

.gold {
   border: 1px solid #FF8800;
  border-left: 7px solid #FF8800; 
}

.gold span {
  color: #FF8800;
}

.gold img{
  max-width: 250px;
  max-height: 130px; 
}

.silver {
  border: 1px solid #AAA;
  border-left: 7px solid #AAA;
}

.silver span {
  color: #AAA;
}

.silver img{
  max-width: 200px;
  max-height: 100px;
}

.partner {
  border: 1px solid #0099CC;
  border-left: 7px solid #0099CC;
}

.partner span {
  color: #0099CC;
}

p.sponsor-empty {
  background-color: #EEE;
  width: 300px;
  height: 120px;
  line-height: 110px;
  display: inline-block;
}

p.sponsor-empty span {
  color: #AAA;
  font-variant: normal;
  letter-spacing: normal;
  font-size: 2em;
}

/* Block info */
.block-info {
  border-left: 7px solid #0099CC;
}

.block {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  /*border-left: 7px solid #0099CC;*/
}

/* Session styles */
.sessions {
  color: #777;
  margin: 0px;
  background-color: #F8F8F8;
  border-left: 7px solid #0099CC;
  padding: 5px;
}

/*

Tentative 2 colonnes
.speaker-parent{
  -moz-column-count:2; 
  -webkit-column-count:2; 
  column-count:2;
}

@media only screen and (max-width: 768px) {
  .speaker-parent{
    -moz-column-count:1; 
    -webkit-column-count:1; 
    column-count:1;
  } 
}*/

/* Grey tracker */
.grey-tracker, .speaker-tracker {
  border-left: 7px solid #CCC;
}

.grey-tracker h3, .speaker-tracker h3 {
  color: #777;
}

/* Android tracker */
.android-tracker {
  border-left: 7px solid #99cc00;
}

.android-tracker h3 {
  color: #99cc00;
}

/* HTML5 tracker */
.html5-tracker {
  border-left: 7px solid #ffbb33;
}

.html5-tracker h3 {
  color: #ffbb33;
}

/* Cloud tracker */
.cloud-tracker {
  border-left: 7px solid #33b5e5;
}

.cloud-tracker h3 {
  color: #33b5e5;
}

img.speaker {
  border: 5px solid #FFF;
  margin-right: 10px;
  -moz-box-shadow: 1px 1px 1px grey;
  -webkit-box-shadow: 1px 1px 1px grey;
  box-shadow: 1px 1px 1px grey;
}

/* Agenda */
.calendar-time {
  text-align: right;
  padding-right: 10px;
}

.calendar h5 {
   color: #333;
  font-family: 'RobotoCondensed', Arial, sans-serif;
  font-size: 1.2em;
}

.calendar a {
  text-decoration: none;
}

.calendar a:hover {
  text-decoration: none;
  color: #710300;
  cursor: pointer;
}

.calendar small {
  font-size: 0.9em;
}

.calendar-header-android {
   background-color: #99cc00;
   border-radius: 5px 0px 0px 5px;
   -webkit-border-radius: 5px 0px 0px 5px;
   -moz-border-radius: 5px 0px 0px 5px;
   -ms-border-radius: 5px 0px 0px 5px;
   -o-border-radius: 5px 0px 0px 5px;
   text-align: center;
}

.calendar-header-html5 {
  background-color: #ffbb33;
  text-align: center;
}

.calendar-header-cloud {
  background-color: #33b5e5;
  text-align: center;
}

.calendar-header-ux {
  background-color: #BF0404;
  text-align: center;
}

.calendar-header-codelab {
  background-color: #aa66cc;
   border-radius: 0px 5px 5px 0px;
   -webkit-border-radius: 0px 5px 5px 0px;
   -moz-border-radius: 0px 5px 5px 0px;
   -ms-border-radius: 0px 5px 5px 0px;
   -o-border-radius: 0px 5px 5px 0px;
  text-align: center;
}

.calendar-one-block {
  background-color: #F8F8F8;
  height : 100px;
  padding-left: 10px;
  color: #333;
}

.calendar-two-blocks {
  background-color: #F8F8F8;
  height : 210px;
  padding-left: 10px;
  color: #333;
}

@media only screen and (max-width: 768px) {
  .calendar-two-blocks {
    background-color: #F8F8F8;
    height : 845px;
    padding-left: 10px;
    color: #333;
  }
}

.calendar-android {
   border-left: 5px solid #99cc00;
}

.calendar-html5 {
   border-left: 5px solid #ffbb33;
}

.calendar-cloud {
   border-left: 5px solid #33b5e5;
}

.calendar-ux {
   border-left: 5px solid #BF0404;
}

.calendar-codelab {
   border-left: 5px solid #aa66cc;
}

.calendar-break {
  background-color: #F8F8F8;
  padding-left: 10px;
  border-left: 5px solid #CCC;
}


/**
* Inscriptions
*/

#iframeInscription{
  width:750px;
  height: 475px;
}

@media only screen and (max-width: 768px){
   #iframeInscription{
    width:400px;
    height: 475px;
  } 
}
