
<!-- AGENDA -->
<div class="row padded calendar">
	<!-- Accueil -->
	<div class="row pad-bottom  hide-on-small-tablet">
		<div class="one sixth calendar-time">
			<h5>Trackers</h5>
		</div>
		<div class="one sixth calendar-header-android">
			<h5>Android</h5>
		</div>
		<div class="one sixth calendar-header-html5">
			<h5>HTML5</h5>
		</div>
		<div class="one sixth calendar-header-cloud">
			<h5>Cloud</h5>
		</div>
		<div class="one sixth calendar-header-ux">
			<h5>Découvertes</h5>
		</div>
		<div class="one sixth calendar-header-codelab">
			<h5>Code labs</h5>
		</div>
	</div>
	<!-- Accueil -->
	<div class="row pad-bottom">
		<div class="one sixth calendar-time">
			<h5>A partir de 8h00</h5>
		</div>
		<div class="five sixths calendar-break pad-left">
			<h5><i class="icon-group"></i> Ouverture des portes et accueil des participants - Café & croissants</h5>
		</div>
	</div>
	<!-- keynote -->
	<div class="row pad-bottom">
		<div class="one sixth calendar-time">
			<h5>8h45 - 9h30</h5>
		</div>
		<div class="five sixths calendar-break pad-left">
			<h5><i class="icon-key"></i> Keynote - Salle "Amphi Keynote"</h5>
		</div>
	</div>
	<!-- Matin -->
	<div class="row pad-bottom">
		<div class="five sixths mobile ">
			<div class="row pad-bottom">
				<!-- Horaire -->
				<div class="one fifth calendar-time">
					<h5>9h45 - 10h45</h5>
				</div>
				<div class="one fifth calendar-android calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
				<div class="one fifth calendar-html5 calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
				<div class="one fifth calendar-cloud calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
				<div class="one fifth calendar-ux calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
			</div>

			<div class="row">
				<!-- Horaire -->
				<div class="one fifth calendar-time">
					<h5>10h55 - 11h55</h5>
				</div>
				<div class="one fifth calendar-android calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
				<div class="one fifth calendar-html5 calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
				<div class="one fifth calendar-cloud calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
				<div class="one fifth calendar-ux calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
			</div>
		</div>
		<div class="one sixth mobile calendar-codelab calendar-two-blocks">
			<h5><a href="#">[A définir]</a></h5>
			<small>Par XXX</small><br>
			<small>Salle "A définir"</small>
		</div>
	</div>
	<!-- lunch -->
	<div class="row pad-bottom">
		<div class="one sixth calendar-time">
			<h5>12h00 - 13h20</h5>
		</div>
		<div class="five sixths calendar-break pad-left">
			<h5><i class="icon-food"></i> Repas du midi (offert) - Salle "Tour LU"</h5>
		</div>
	</div>
	<!-- apres midi (part1)-->
	<div class="row pad-bottom">
		<div class="five sixths mobile">
			<div class="row pad-bottom">
				<div class="one fifth calendar-time">
					<h5>13h30 - 14h30</h5>
				</div>
				<div class="one fifth calendar-android calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
				<div class="one fifth calendar-html5 calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
				<div class="one fifth calendar-cloud calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
				<div class="one fifth calendar-ux calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
			</div>

			<div class="row">
				<!-- Horaire -->
				<div class="one fifth calendar-time">
					<h5>14h40 - 15h40</h5>
				</div>
				<div class="one fifth calendar-android calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
				<div class="one fifth calendar-html5 calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
				<div class="one fifth calendar-cloud calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
				<div class="one fifth calendar-ux calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
			</div>
		</div>
		<div class="one sixth calendar-codelab mobile calendar-two-blocks">
			<h5><a href="#">[A définir]</a></h5>
			<small>Par XXX</small><br>
			<small>Salle "A définir"</small>
		</div>
	</div>
	<!-- break -->
	<div class="row pad-bottom">
		<div class="one sixth calendar-time">
			<h5>15h40 - 16h10</h5>
		</div>
		<div class="five sixths calendar-break pad-left">
			<h5><i class="icon-coffee"></i> Break - Salle "Tour LU"</h5>
		</div>
	</div>
	<!-- Apres midi (part1) -->
	<div class="row pad-bottom">
		<div class="five sixths mobile">
			<div class="row pad-bottom">
				<div class="one fifth calendar-time">
					<h5>16h10 - 17h10</h5>
				</div>
				<div class="one fifth calendar-android calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
				<div class="one fifth calendar-html5 calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
				<div class="one fifth calendar-cloud calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
				<div class="one fifth calendar-ux calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
			</div>

			<div class="row">
				<!-- Horaire -->
				<div class="one fifth calendar-time">
					<h5>17h20 - 18h20</h5>
				</div>
				<div class="one fifth calendar-android calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
				<div class="one fifth calendar-html5 calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
				<div class="one fifth calendar-cloud calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
				<div class="one fifth calendar-ux calendar-one-block">
					<h5><a href="#">[A définir]</a></h5>
					<small>Par XXX</small><br>
					<small>Salle "A définir"</small>
				</div>
			</div>
		</div>
		<div class="one sixth calendar-codelab mobile calendar-two-blocks">
			<h5><a href="#">[A définir]</a></h5>
			<small>Par XXX</small><br>
			<small>Salle "A définir"</small>
		</div>
	</div>

	<!-- After party -->
	<div class="row pad-bottom">
		<div class="one sixth calendar-time">
			<h5>19h00 - Minuit</h5>
		</div>
		<div class="five sixths calendar-break pad-left">
			<h5><i class="icon-glass"></i> After Party !</h5>
		</div>
	</div>
</div>