

<div class="row padded">
	<!-- Accès -->
	<div class="two sixth padded">
		<div class="block">
			<div>
				<a name="acces"></a>
				<h3 class="border"><i class="icon-road"></i>&nbsp;Comment s'y rendre ?</h3>
				<div class="row padded">
					<h4>Voyager</h4>
					<p>
						<b>En train</b>
						Nantes est à seulement 2h de Paris (Gare montparnasse) en TGV.<br/>
						Arrivé à Nantes, prendre la sortie "Gare Nord" puis vous serez à Epitech Nantes en moins de 10 minutes par tramway (ligne 1) et en 25 minutes à pied.
						<br/>
						<br/>
						<b>En avion</b>
						Il y a des <a href="https://www.google.fr/flights/#search;f=NTE;d=2013-11-08;r=2013-11-10;mc=m" target="_NEW">vols</a> depuis Paris, Bordeaux, Toulouse, Nice, Dublin, ...<br/>
						Puis vous pouvez utiliser les <a href="http://www.nantes.aeroport.fr/acces/navettes" target="_NEW">navettes</a>, taxis ou louer une voiture pour rejoindre le centre de Nantes.
					</p>
				</div>
				<div class="row padded">
					<h4>En transport en commun</h4>
					<p>
						Prendre la ligne 1 du tramway et descendre à l'arrêt <b>"Chantiers Navals"</b>.<br/>
					</p>
				</div>
				<div class="row padded">
					<h4>En voiture</h4>
					<p>
						L'école étant en plein centre ville, nous préconisons aux automobilistes de se garer sur un parking relais tram ou un parking payant.<br/>
						Pour trouver le parking le plus proche de l'école : <a href="http://www.parkings-nantes.fr/fr/stationner" target="_NEW">http://www.parkings-nantes.fr/fr/stationner</a><br/>
						Pour voir les disponibilités des parkings en temps réel : <a href="http://parking-nantes.com/" target="_NEW">http://parking-nantes.com/</a><br/>
						Liste des parkings relais : <a href="https://www.tan.fr/adminsite/objetspartages/liste_fichiergw.jsp?OBJET=DOCUMENT&CODE=1232704326125&LANGUE=0" target="_NEW">carte.pdf</a> ou directement sur le site de la <a href="https://www.tan.fr/jsp/fiche_pagelibre.jsp?CODE=07774142&LANGUE=0" target="_NEW">Tan</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="four sixth ">
		<!-- Plan d'acces -->
		<div class="row ">
			<div class="one fourth padded">
				<div class="block">
					<div>
						<a name="plan"></a>
						<h3 class="border"><i class="icon-map-marker"></i>&nbsp;Plan d'accès</h3>
						<p>
							<h4>Epitech Nantes</h4>
							16b-18 Rue Flandres Dunkerque<br/> 
							44100 Nantes<br/>
							(+33)1 44 08 00 11<br/><br/>
							<a href="http://nantes.epitech.eu" target="_NEW">http://nantes.epitech.eu</a>
							<br/><br/>
							<img src="./images/sponsors/epitech.jpg" width="150px">
						</p>
					</div>
				</div>
			</div>
			<div class="three fourth padded">
				<div class="block">
					<div>
						<iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=epitech+nantes&amp;aq=&amp;sll=47.348,-1.741412&amp;sspn=1.110956,2.90863&amp;ie=UTF8&amp;hq=epitech&amp;hnear=Nantes,+Loire-Atlantique,+Pays+de+la+Loire&amp;t=m&amp;ll=47.211202,-1.56671&amp;spn=0.00583,0.034289&amp;z=15&amp;output=embed"></iframe>
					</div>
				</div>
			</div>
		</div>
		<!-- Dormir -->
		<div class="row ">
			<div class="four fourth padded">
				<div class="block">
					<div>
						<a name="hotel"></a>
						<h3 class="border"><i class="icon-home"></i>&nbsp;Où dormir ?</h3>
						<div class="row padded">
							<div class="one third padded">
								<h4>Hôtel Ibis Tour de bretagne</h4>
								<p>	
									19 Rue Jean Jaurès,<br/>
									44000 Nantes<br/>
									(+33)2 40 35 39 00<br/>
									<a href="http://www.accorhotels.com/fr/hotel-1394-ibis-nantes-centre-tour-bretagne/index.shtml" target="_NEW">Réservez ici</a><br/>
									à 15 minutes à pied d'Epitech Nantes
								</p>
							</div>
							<div class="one third padded">
								<h4>Hôtel Ibis Tour de bretagne</h4>
								<p>	
									19 Rue Jean Jaurès,<br/>
									44000 Nantes<br/>
									(+33)2 40 35 39 00<br/>
									<a href="http://www.accorhotels.com/fr/hotel-1394-ibis-nantes-centre-tour-bretagne/index.shtml" target="_NEW">Réservez ici</a><br/>
									à 15 minutes à pied d'Epitech Nantes
								</p>
							</div>
							<div class="one third padded">
								<h4>Hôtel Ibis Tour de bretagne</h4>
								<p>	
									19 Rue Jean Jaurès,<br/>
									44000 Nantes<br/>
									(+33)2 40 35 39 00<br/>
									<a href="http://www.accorhotels.com/fr/hotel-1394-ibis-nantes-centre-tour-bretagne/index.shtml" target="_NEW">Réservez ici</a><br/>
									à 15 minutes à pied d'Epitech Nantes
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row padded">
	<!-- Contacter -->
	<div class="six sixth padded">
		<div class="block padded">
			<div>
				<div class="row padded">
					<a name="contact"></a>
					<h3 class="border"><i class="icon-envelope-alt"></i>&nbsp;GDG Nantes</h3>
					<div class="one fourth padded">
						<h4>Contactez-nous</h4>
						<p>
							Notre site web : <a href="http://www.gdgnantes.com" target="_NEW">http://www.gdgnantes.com</a><br/>
							Envoyez un email : <a href="mailto:bureau@gdgnantes.com" target="_NEW">bureau@gdgnantes.com</a><br/>
							Téléchargez notre <a href="#">dossier de presse</a>
						</p>
					</div>
					<div class="one fourth padded">
						<h4>Suivez-nous</h4>
						<p>
							<a href="https://plus.google.com/u/0/b/104080355394243371522/104080355394243371522/posts" target="_NEW"><i class="icon-google-plus-sign icon-4x"></i></a>
							<a href="http://twitter.com/gdgnantes" target="_NEW"><i class="icon-twitter-sign icon-4x pad-left"></i></a>
							<a href="http://www.facebook.com/gdgnantes" target="_NEW"><i class="icon-facebook-sign icon-4x pad-left"></i></a>
						</p>
					</div>
					<div class="one fourth padded">
						<h4>Devenez Membre</h4>
						<p>
							Pour devenir membre du GDG Nantes et être informé de tous les évènements que nous organisons, il suffit de vous inscrire sur notre <a href="https://groups.google.com/group/gdg-nantes" target="_NEW">Google Groups</a> et d'indiquer que vous êtes membre ("I'm a member") sur <a href="https://developers.google.com/groups/chapter/104080355394243371522/" target="_NEW">le site "Google developpers"</a>.
						</p>
					</div>
					<div class="one fourth padded">
						<h4>Les GDGs dans le monde</h4>
						<p>
							<img src="./images/devfest/gdg.png" class="pull-left pad-right" width="70px">
							Vous souhaitez savoir s'il existe un Google Developers Group dans votre ville ou votre pays ou bien en créer un. Alors rendez-vous sur le <a href="https://developers.google.com/groups/directory/" target="_NEW">site officiel</a> de tous les GDGs dans le monde.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




