<!-- Information des credits (Groundwork CSS - Angular JS - Autor / Team gdg nantes - Bénévoles Epitech -->`
<div class="row padded">
	<div class="row padded block-info">
		<h3 class="border">L'équipe du GDG Nantes</h3>
		<div class="one fourth padded">
			<img class="speaker pull-left" src="images/team/ju.jpg" height="100px" width="100px"></img>
			<p>
				<h4>Julien Landuré</h4></br>
				<i>Président du GDG Nantes</i>
			</p>
		</div>
		<div class="one fourth padded">
			<img class="speaker pull-left" src="images/team/xav.png" height="100px" width="100px"></img>
			<p>
				<h4>Xavier Marc</h4></br>
				<i>Vice-président du GDG Nantes</i>
			</p>
		</div>
		<div class="one fourth padded">
			<img class="speaker pull-left" src="images/team/jef.jpeg" height="100px" width="100px"></img>
			<p>
				<h4>Jean-François Garreau</h4></br>
				<i>Trésorier du GDG Nantes</i>
			</p>
		</div>
		<div class="one fourth padded">
			<img class="speaker pull-left" src="images/team/ben.jpg" height="100px" width="100px"></img>
			<p>
				<h4>Benjamin Petetot</h4></br>
				<i>Secrétaire du GDG Nantes</i>
			</p>
		</div>
	</div>
	<div class="row padded block-info">
		<h3 class="border">Merci à tous ceux qui nous ont aidé</h3>
		<div class="row">
			<div class="one fourth padded">
				<img class="speaker pull-left" src="images/team/aymeric.jpg" height="100px" width="100px"></img>
				<p>
					<h4>Aymeric Fouchault</h4></br>
					<i>Directeur d'Epitech Nantes</i>
				</p>
			</div>
			<div class="one fourth padded">
				<img class="speaker pull-left" src="images/team/Unknown-person.gif" height="100px" width="100px"></img>
				<p>
					<h4>???</h4></br>
					<i>Bénévole</i></br>
					<i>Vous souhaitez être bénévole et nous aider à organiser, <a href="mailto:bureau@gdgnantes.com">contactez nous !</a>
				</p>
			</div>
		</div>
	</div>
</div>