<!-- Information des credits (Groundwork CSS - Angular JS - Autor / Team gdg nantes - Bénévoles Epitech -->`
<div class="row padded">
	<div class="row padded block-info">
		<h3 class="border">L'équipe du GDG Nantes</h3>
		<div class="one fourth padded">
			<img class="speaker pull-left" src="https://lh3.googleusercontent.com/-RTYzHag_zxU/UZJF8-bOIjI/AAAAAAAAEs4/rTPYXkRyU2E/s256-no/55b0875c-3571-463e-ac41-484073a50e35" height="110px" width="95px"></img>
			<p>
				<h4>Julien Landuré</h4></br>
				<i>Président du GDG Nantes</i>
			</p>
		</div>
		<div class="one fourth padded">
			<img class="speaker pull-left" src="https://lh4.googleusercontent.com/-enm-wRMb9_k/UZpuvyIUFKI/AAAAAAAAAnc/C0sFgzCUfLY/w516-h522-no/Profil.png" height="110px" width="95px"></img>
			<p>
				<h4>Xavier Marc</h4></br>
				<i>Vice-président du GDG Nantes</i>
			</p>
		</div>
		<div class="one fourth padded">
			<img class="speaker pull-left" src="http://devfest.gdgnantes.com/_/rsrc/1348310841331/speakers/jef.jpeg" height="110px" width="95px"></img>
			<p>
				<h4>Jean-François Garreau</h4></br>
				<i>Trésorier du GDG Nantes</i>
			</p>
		</div>
		<div class="one fourth padded">
			<img class="speaker pull-left" src="https://lh6.googleusercontent.com/-5byzvoBPHe4/ULtsNaRPTZI/AAAAAAAACgY/3jKBxgjYmgU/w606-h607-no/1.jpg" height="110px" width="95px"></img>
			<p>
				<h4>Benjamin Petetot</h4></br>
				<i>Secrétaire du GDG Nantes</i>
			</p>
		</div>
	</div>
	<div class="row padded block-info">
		<h3 class="border">Merci à tous ceux qui nous ont aidé</h3>
		<div class="row">
			<div class="one fourth padded">
				<img class="speaker pull-left" src="https://lh5.googleusercontent.com/-YdG9HIqB7SI/UDjyU6lIKFI/AAAAAAABO4c/Puf6ztuGRtc/w605-h607-no/IMG_20120812_184646.jpg" height="110px" width="95px"></img>
				<p>
					<h4>Aymeric Fouchault</h4></br>
					<i>Directeur d'Epitech Nantes</i>
				</p>
			</div>
			<div class="one fourth padded">
				<img class="speaker pull-left" src="http://upload.wikimedia.org/wikipedia/en/e/ee/Unknown-person.gif" height="110px" width="95px"></img>
				<p>
					<h4>???</h4></br>
					<i>Bénévole</i>
				</p>
			</div>
		</div>
	</div>
</div>