<div class="row padded">

		<!-- WHERE / WHEN -->
		<div class="row align-center pad-bottom">
			<div class="one third padded">
				<h3><i class="icon-calendar icon-2x g-green"></i> 8 novembre 2013, 9h30 - 18h00</h3>
			</div>
			<div class="one third padded">
				<h3><i class="icon-map-marker icon-2x g-red"></i> Ecole Epitech Nantes</h3>
			</div>
			<div class="one third padded">
				<h3><i class="icon-edit icon-2x g-blue"></i> Pré-réservation : 1er juillet</h3>
			</div>
		</div>

		<!-- Description DEVFEST -->
		<div class="row padded block-info">
			<div class="four fifths pad-right">
				<p class="justify">
					Le DevFest Nantes 2013 est une journée de conférences organisée par le <a href="http://www.gdgnantes.com" target="_NEW">GDG Nantes</a>, qui s'inscrit dans un évènement mondial : <a href="http://www.devfest.info" target="_NEW">les DevFests</a>. 
				</p>
				<p class="justify">
					Les DevFests sont des événements communautaires de grande envergure à travers le monde, suivant la tradition des Google Developer Days et organisés par des groupes d'utilisateurs locaux. Ils sont une occasion unique de partager et d’échanger autour des technologies du Web et du Cloud ! Et plus particulièrement sur Android, Dart, AppEngine, Angular JS, Chrome, HTML5, WebGL, Google Drive, Go, GWT…
					Suivi d'une <a href="#">AfterParty</a> pour discuter de manière conviviale et faire du networking !
				</p>
				<p class="justify">
					La journée comprendra deux types de sessions : les conférences et les codelabs. 
					<ul class="list pad-left">
						<li><u>Les conférences</u> seront des présentations réalisées par des speakers renommés ou des Googlers évoquant de leurs technologies favorites.</li>
						<li><u>Les codelabs</u> se veulent plus informels et seront l'occasion de mettre les mains (et les pieds) dans le code sur une technologie en compagnie d'un expert</li>
					</ul>
					<!-- <a href="#">Inscrivez-vous vite !</a> -->
				</p>
    		</div>
    		<div class="one fifths block">
    			<div class=" padded">
					<h4 class="border"><i class="icon-globe"></i>&nbsp;Quelques liens...</h4>
					<ul class="list padded">
						<li><a href="https://docs.google.com/forms/d/1z_0IwGq5W531jJvhX-9Q9tmwj7IhkIW_UwgknplI0rA/viewform" target="_NEW">Call For Paper</a></li>
						<li><a href="./index.html#/sponsors">Devenir sponsor</a></li>
						<!-- <li><a href="#">S'inscrire au DevFest Nantes 2013</a></li> -->
						<li><a href="./index.html#/contacts">Adhérer au GDGNantes</a></li>
						<li><a href="mailto:bureau@gdgnantes.com">Nous contacter</a></li>
						<li><a href="http://www.gdgnantes.com" target="_NEW">Site Web du GDG Nantes</a></li>
					</ul>
				</div>
    		</div>
    	</div>

    	<!-- Retour Devfest 2012 -->
    	<div class="row padded block-info">
    		<div class="two fifths padded">
				<h3 class="border"><i class="icon-chevron-right"></i>&nbsp;L'édition 2012, c'était...</h3>
				<ul class="list padded">
					<li>200 participants</li>
					<li>18 speakers</li>
					<li>4 tracks : Android, HTML5, Cloud, Code labs</li>
					<li>17 sessions retransmises en Live</li>
					<li>242 photos sur l'évènement G+</li>
					<li>12 videos</li>
					<li>et beaucoup de fun !</li>
				</ul>
				Retrouver les <a href="https://plus.google.com/events/gallery/csmfdjhhq052a27u7h1trel3o10" target="_NEW">photos de l'évènement 2012 sur Google+ </a>
    		</div>
			<div class="three fifth padded align-right">
				<img src="./images/devfest/devfest-img2.jpg" height="180px">
				<img src="./images/devfest/devfest-img3.jpg" height="180px">
				<img src="./images/devfest/devfest-img1.jpg" height="180px">
			</div>
		</div>	
	</div>
</div>