<div class="row padded">

		<!-- WHERE / WHEN -->
		<div class="row align-center pad-bottom">
			<div class="one third padded">
				<h3><i class="icon-calendar icon-2x"></i> 8 novembre 2013, 9h30 - 18h00</h3>
			</div>
			<div class="one third padded">
				<h3><i class="icon-map-marker icon-2x"></i> Ecole Epitech Nantes</h3>
			</div>
			<div class="one third padded">
				<h3><i class="icon-edit icon-2x"></i> Pré-réservation : 1er juillet</h3>
			</div>
		</div>

		<!-- Description DEVFEST -->
		<div class="row">
			<div class="three fourths padded">
				<div class="block">
					<div>
						<h3>Le DevFest Nantes 2013</h3>
						<p class="justify padded">
							est une journée de conférence organisée par le GDG Nantes, qui s'inscrit dans un évènement mondial : les Devfest (www.devfest.info). 
							<br/>
							Cette journée est l'occasion de se rencontrer et de partager autour des technologies Google et du Web.  
							La journée comprendra deux types de sessions : les conférences et les codelabs. 
							<ul class="list">
								<li><b>Les conférences</b> seront des présentations par des speakers renommés ou des Googlers parlant de leurs technologies favorites.</li>
								<li><b>Les codelabs</b> se veulent plus informels et seront l'occasion de mettre les mains (et les pieds) dans le code sur un sujet et une techno donnés, tout cela en compagnie d'un expert</li>
							</ul>
							<!-- <a href="#">Inscrivez-vous vite !</a> -->
						</p>
					</div>
	    		</div>
    		</div>
    		<div class="one fourth padded">
    			<div class="block">
    				<div>
						<h3>Quelques liens...</h3>
						<ul class="list padded">
							<li><a href="https://docs.google.com/forms/d/1z_0IwGq5W531jJvhX-9Q9tmwj7IhkIW_UwgknplI0rA/viewform" target="_NEW">Call For Paper</a></li>
							<li><a href="./index.#/sponsors">Devenir sponsor</a></li>
							<!-- <li><a href="#">S'inscrire au DevFest Nantes 2013</a></li> -->
							<li><a href="./index.html#/contacts">Adhérer au GDGNantes</a></li>
							<li><a href="./index.html#/contacts">Nous contacter</a></li>
							<li><a href="http://www.gdgnantes.com" target="_NEW">Site Web du GDG Nantes</a></li>
						</ul>
					</div>
				</div>
    		</div>
    	</div>

    	<!-- Retour Devfest 2012 -->
    	<div class="row pad-top">
    		<div class="two fifths padded">
    			<div class="block">
    				<div>
						<h3>Le DevFest Nantes 2012, c'était...</h3>
						<ul class="list padded">
							<li>200 participants</li>
							<li>18 speakers</li>
							<li>4 tracks : Android, HTML5, Cloud, Code labs</li>
							<li>17 sessions retransmises en Live</li>
							<li>242 photos sur l'évènement G+</li>
							<li>12 videos</li>
							<li>et beaucoup de fun !</li>
						</ul>
					</div>
    			</div>
    		</div>
			<div class="three fifth padded align-center">
				<img src="./images/devfest/devfest-img2.jpg" height="180px">
				<img src="./images/devfest/devfest-img3.jpg" height="180px">
				<img src="./images/devfest/devfest-img1.jpg" height="180px">
			</div>
		</div>	
	</div>
</div>