<div class="row padded">

	<div class="row block-info">
		<div class="six eighths padded">
			<h3 class="border"><i class="icon-eye-open"></i>&nbsp;Identité visuelle (à diffuser sans modération)</h3>
			<p>
				<i>Bientôt disponible</i>
			</p>
		</div>
		<div class="two eighths padded">
			<div class=" error callout">
				<a href="#" class="white">
					<h3><i class="icon-download icon-3x pull-left"></i>Téléchargez notre Dossier de presse</h3>
				</a>
			</div>
		</div>
	</div>

	<div class="row padded block-info">
		<h3 class="border"><i class="icon-globe"></i>&nbsp;Ils parlent du DevFest Nantes 2013</h3>
		<p>
			<ul class="list pad-left">
				<li><a href="#">bla bla bla</a></li>
			</ul>
		</p>
	</div>

</div>