<!-- FILTERS -->
<div class="row padded" >
	<div class="one fifth pad-right pad-left skip-one">
		Tracker
        <select class="unselected" ng-model="trackers">
            <option selected value="">Tous</option>
            <option value="_mobile">mobile</option>
            <option value="_web">Web</option>
            <option value="_cloud">Cloud&amp;API</option>
            <option value="_decouverte">Découvertes</option>
            <option value="_codelab">Code labs</option>
        </select>
    </div>
    <div class="one fifth pad-right pad-left ">
    	Technos
        <select class="unselected" ng-model="technos">
            <option selected value="">Toutes</option>
            <option value="mobile">Mobile</option>
            <option value="appengine">AppEngine</option>
            <option value="html5">HTML5</option>
            <option value="angular">Angular JS</option>
            <option value="compute">Compute Engine</option>
            <option value="webgl">WebGL</option>
            <option value="tizen">Tizen</option>
            <option value="chrome">Chrome API</option>
            <option value="google+">Google +</option>
        </select>
    </div>
    <div class="one fifth pad-right pad-left ">
    	Difficulté
        <select class="unselected" ng-model="levels">
            <option selected value="">Toutes</option>
            <option value="101">101 (débutant)</option>
            <option value="201">201 (Intermédiaire)</option>
            <option value="301">301 (Confirmé)</option>
        </select>
    </div>
</div>

<!-- Session list builder -->
<div class="row pad-bottom" ng-repeat="session in sessions | filter:trackers | filter:technos | filter:levels">	
	<div class="four sixths skip-one sessions {{ session.track }}-tracker" ng-controller="SessionDetailCtrl" ng-show="session.visible" >
		<!-- Session header -->
		<div class="row pad-left pad-top pad-right">
			<div class="two thirds mobile ">
				<a name="{{ session.label }}"></a>
				<h3><div class="techno {{session.icon}}"></div> {{ session.label }}</h3>
			</div>
			<div class="one third mobile align-right">
				{{ time }}, salle {{ session.room }}<br>
				<small>Tracker {{ session.track }} - Difficulté {{ session.level }} - <img ng-src="./images/langs/{{ session.lang }}.png" /></small>
			</div>
			<hr>            
			<small>Présenté par <a ng-repeat="speaker in sessionSpeakers" href="index.html#/speakers?{{ speaker.id }}">{{ speaker.displayName }}&nbsp;&nbsp;</a></small>
		</div>
		<!-- Session content -->
		<div class="row padded justify">
            <!-- Speaker photo -->
            <div class="pull-left speaker-photos">
                <div ng-repeat="speaker in sessionSpeakers" class="speaker pull-left {{speaker.id}}" ></div>
            </div>
			<div ng-bind-html-unsafe="session.description" class="padded"></div>
		</div>
	</div>
</div>
