
<!-- APPEL SPONSORS -->
<div class="row ">
	<div class="four eighths skip-one padded">	
		<div class="callout">
			<h3><i class="icon-bullhorn icon-3x pull-left"></i>Demande de sponsoring</h3>
			<p class="justify">
				Des places de sponsor restent à pourvoir et commencent dès 750€. Le sponsoring est l'occasion parfaite de gagner en visibilité envers les professionnels du Web ou d'Android en France et dans le monde. Plusieurs avantages sont offerts aux sponsors en fonction du type de sponsoring, comme un stand pendant l'événement, l'intégration du logo aux communications... N'hésitez pas à <a href="mailto:bureau@gdgnantes.com" class="white">nous contacter</a> et téléchargez notre <a href="{{ urlPartenariat }}" class="white" target="_NEW">dossier de partenariat</a>.
			</p>
		</div>
	</div>
	<div class="two eighths padded">
		<div class=" error callout">
			<a href="{{ urlPartenariat }}" class="white" target="_NEW">
				<h3><i class="icon-download icon-3x pull-left"></i>Téléchargez notre Dossier de partenariat</h3>
			</a>
		</div>
	</div>
</div>


<!-- SPONSORS -->	
<div class="row sponsors">
	<div class="row align-center padded">
		<div class="premium">
			<span>sponsor platinium</span><br>
			<br/><br/>
			<div class="row">
				<div class="one half">
					<a href="https://developers.google.com/" traget="_NEW"><div class="sprite_sponsors google"></div></a>
				</div>
				<div class="one half">
					<a href="http://www.epitech.eu/" traget="_NEW"><div class="sprite_sponsors epitech"></div></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row align-center padded">
		<div class="gold">
			<span>sponsor gold</span><br>
			<br/><br/>
			<div class="row">
				<div class="one fourth">
					<a href="http://www.genymobile.com/" target="_NEW"><div class="sprite_sponsors genymobile"></div></a>
				</div>
				<div class="one fourth">
					<a href="http://www.zenika.com/" target="_NEW"><div class="sprite_sponsors zenika"></div></a>
				</div>
				<div class="one fourth">
					<a href="http://www.visionobjects.com/fr/" target="_NEW"><div class="sprite_sponsors visionobjects"></div></a>
				</div>
                <div class="one fourth">
					<p class="sponsor-empty">
						<span>Votre logo ici</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row align-center padded">
		<div class="silver">
			<span>sponsor silver</span>
			<br/><br/>
			<div class="row">
				<div class="one fifth">
					<a href="http://www.serli.com/" target="_NEW"><div class="sprite_sponsors serli"></div></a>
				</div>
				<div class="one fifth">
                    <a href="http://www.softeam.fr/" target="_NEW"><div class="sprite_sponsors softeam"></div></a>
				</div>
				<div class="one fifth">
					<p class="sponsor-empty">
						<span>Votre logo ici</span>
					</p>
				</div>
				<div class="one fifth">
					<p class="sponsor-empty">
						<span>Votre logo ici</span>
					</p>
				</div>
                <div class="one fifth">
					<p class="sponsor-empty">
						<span>Votre logo ici</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row align-center padded">
		<div class="partner">
			<span>partenaires</span>
			<br/><br/>
			<div class="row">
				<div class="one fifth">
					 <a href="http://www.jetbrains.com/" target="_NEW"><div class="sprite_sponsors jetbrain"></div></a>
				</div>
                <div class="one fifth">
					<p class="sponsor-empty">
						<span>Votre logo ici</span>
					</p>
				</div>
                <div class="one fifth">
					<p class="sponsor-empty">
						<span>Votre logo ici</span>
					</p>
				</div>
                 <div class="one fifth">
					<p class="sponsor-empty">
						<span>Votre logo ici</span>
					</p>
				</div>
                 <div class="one fifth">
					<p class="sponsor-empty">
						<span>Votre logo ici</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>