<div class="row padded">
	<!-- Accès -->
	<div class="two sixth padded block-info">
		<a name="acces"></a>
		<h3 class="border"><i class="icon-road"></i>&nbsp;Comment s'y rendre ?</h3>
		<div class="row padded">
			<h4>Voyager</h4>
			<p>
				<b>En train</b>
				Nantes est à seulement 2h de Paris (Gare montparnasse) en TGV.<br/>
				Arrivé à Nantes, prendre la sortie "Gare Nord" puis vous serez à Epitech Nantes en moins de 10 minutes par tramway (ligne 1) et en 25 minutes à pied.
				<br/>
				<br/>
				<b>En avion</b>
				Il y a des <a href="https://www.google.fr/flights/#search;f=NTE;d=2013-11-08;r=2013-11-10;mc=m" target="_NEW">vols</a> depuis Paris, Bordeaux, Toulouse, Nice, Dublin, ...<br/>
				Puis vous pouvez utiliser les <a href="http://www.nantes.aeroport.fr/acces/navettes" target="_NEW">navettes</a>, taxis ou louer une voiture pour rejoindre le centre de Nantes.
			</p>
		</div>
		<div class="row padded">
			<h4>En transport en commun</h4>
			<p>
				Prendre la ligne 1 du tramway et descendre à l'arrêt <b>"Chantiers Navals"</b>.<br/>
			</p>
		</div>
		<div class="row padded">
			<h4>En voiture</h4>
			<p>
				L'école étant en plein centre ville, nous préconisons aux automobilistes de se garer sur un parking relais tram ou un parking payant.<br/>
				Pour trouver le parking le plus proche de l'école : <a href="http://www.parkings-nantes.fr/fr/stationner" target="_NEW">http://www.parkings-nantes.fr/fr/stationner</a><br/>
				Pour voir les disponibilités des parkings en temps réel : <a href="http://parking-nantes.com/" target="_NEW">http://parking-nantes.com/</a><br/>
				Liste des parkings relais : <a href="https://www.tan.fr/adminsite/objetspartages/liste_fichiergw.jsp?OBJET=DOCUMENT&CODE=1232704326125&LANGUE=0" target="_NEW">carte.pdf</a> ou directement sur le site de la <a href="https://www.tan.fr/jsp/fiche_pagelibre.jsp?CODE=07774142&LANGUE=0" target="_NEW">Tan</a>
			</p>
		</div>
	</div>
	<div class="four sixth pad-top ">
		<!-- Plan d'acces -->
		<div class="row block-info">
			<div class="pad-left">
				<a name="plan"></a>
				<h3 class="border"><i class="icon-map-marker"></i>&nbsp;Plan d'accès</h3>
				<div class="one fourth padded">
					<p>
						<h4>Epitech Nantes</h4>
						8 Rue de Bréa<br/> 
						44100 Nantes<br/>
						(+33)1 44 08 00 11<br/><br/>
						<a href="http://nantes.epitech.eu" target="_NEW">http://nantes.epitech.eu</a>
						<br/><br/>
						<div class="epitech_bg"></div>
					</p>
				</div>
				<div class="three fourth padded">
                    <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=8+Rue+de+Br%C3%A9a,+Nantes&amp;aq=0&amp;oq=8+rue+de+brea+&amp;sll=46.22475,2.0517&amp;sspn=27.946308,67.631836&amp;ie=UTF8&amp;hq=&amp;hnear=8+Rue+de+Br%C3%A9a,+44000+Nantes,+Loire-Atlantique,+Pays+de+la+Loire&amp;t=m&amp;ll=47.211115,-1.56553&amp;spn=0.000419,0.001032&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
				</div>
			</div>
		</div>
		<!-- Dormir -->
		<div class="row">
			<div class="four fourth  block-info padded">
				<a name="hotel"></a>
				<h3 class="border"><i class="icon-home"></i>&nbsp;Où dormir ?</h3>
				<div class="row padded">
					<div class="one third padded">
						<h4>Hôtel Ibis Tour de bretagne</h4>
						<p>	
							19 Rue Jean Jaurès,<br/>
							44000 Nantes<br/>
							(+33)2 40 35 39 00<br/>
							<a href="http://www.accorhotels.com/fr/hotel-1394-ibis-nantes-centre-tour-bretagne/index.shtml" target="_NEW">Réservez ici</a><br/>
							à 15 minutes à pied d'Epitech Nantes
						</p>
					</div>
					<div class="one third padded">
						<h4>Hôtel Cholet (Nantes)</h4>
						<p>	
							10 Rue Gresset, Quartier Graslin<br/>
							44000 Nantes<br/>
							(+33)2 40 73 31 04<br/>
							<a href="http://www.hotelcholet-nantes.com/" target="_NEW">Réservez ici</a><br/>
							à 5 minutes à pied d'Epitech Nantes
						</p>
					</div>
					<div class="one third padded">
						<h4>Hôtel Best Hotel</h4>
						<p>	
							9 Rue du Mal De Lattre de Tassigny,<br/>
							44000 Nantes<br/>
							(+33)2 40 73 85 33<br/>
							<a href="http://www.besthotel.fr/Nantes" target="_NEW">Réservez ici</a><br/>
							à 10 minutes à pied d'Epitech Nantes
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row padded">
	<!-- Contacter -->
		<div class="row padded block-info">
			<a name="contact"></a>
			<h3 class="border"><i class="icon-envelope-alt"></i>&nbsp;GDG Nantes</h3>
            <div class="one fourth padded">
				<h4>Contactez-nous</h4>
				<p>
					Notre site web : <a href="http://www.gdgnantes.com" target="_NEW">http://www.gdgnantes.com</a><br/>
					Envoyez un email : <a href="mailto:bureau@gdgnantes.com" target="_NEW">bureau@gdgnantes.com</a><br/>
					Téléchargez notre <a href="{{ urlPartenariat }}" target="_NEW">dossier de partenariat</a><br/>
					Téléchargez notre <a href="{{ urlDocPresse }}" target="_NEW">dossier de presse</a>
				</p>
			</div>
			<div class="one fourth padded">
				<h4>Suivez-nous</h4>
				<p>
					<a href="http://gplus.gdgnantes.com/" target="_NEW"><i class="icon-google-plus-sign icon-4x"></i></a>
					<a href="http://twitter.com/gdgnantes" target="_NEW"><i class="icon-twitter-sign icon-4x pad-left"></i></a>
					<a href="http://www.facebook.com/gdgnantes" target="_NEW"><i class="icon-facebook-sign icon-4x pad-left"></i></a>
				</p>
			</div>
			<div class="one fourth padded">
				<h4>Devenez Membre</h4>
				<p>
					Pour devenir membre du GDG Nantes et être informé de tous les évènements que nous organisons, il suffit de vous inscrire sur notre <a href="https://groups.google.com/group/gdg-nantes" target="_NEW">Google Groups</a> et d'indiquer que vous êtes membre ("I'm a member") sur <a href="https://developers.google.com/groups/chapter/104080355394243371522/" target="_NEW">le site "Google developpers"</a>.
				</p>
			</div>
			<div class="one fourth padded">
				<h4>Les GDGs dans le monde</h4>
				<p>
					<span class="pull-left pad-right gdg_bg" ></span>
					Vous souhaitez savoir s'il existe un Google Developers Group dans votre ville ou votre pays ou bien en créer un. Alors rendez-vous sur le <a href="https://developers.google.com/groups/directory/" target="_NEW">site officiel</a> de tous les GDGs dans le monde.
				</p>
			</div>
		</div>
</div>





<div class="row padded">
	<!-- FAQ -->
		<div class="row padded block-info equalize">
			<a name="faq"></a>
			<h3 class="border"><i class="icon-question-sign"></i>&nbsp;F.A.Q.</h3>
			<div class="one third padded">
				<faq title="Qu'est ce que le DevFest ?">
                    <p>
                        Les DevFests sont des événements communautaires de grande envergure à travers le monde, suivant la tradition des Google Developer Days et organisés par des groupes d'utilisateurs locaux. Ils constituent une occasion unique de partager et d’échanger autour des technologies du Web et du Cloud ! Et plus particulièrement sur Android, Dart, AppEngine, Angular JS, Chrome, HTML5, WebGL, Google Drive, Go, GWT… Cet événement sera suivi d'une AfterParty afin de discuter de manière conviviale et faire du networking !
                    </p>
                </faq>
			</div>
			<div class="one third padded">
				<faq title="Comment va se dérouler le DevFest ?">
                    <p>
                        La journée comprendra deux types de sessions : les conférences et les codelabs.
                    </p>
					<ul>
						<li>Les conférences seront des présentations réalisées par des speakers renommés ou des Googlers évoquant de leurs technologies favorites.</li>
						<li>Les codelabs se veulent plus informels et seront l'occasion de mettre les mains (et les pieds) dans le code sur une technologie en compagnie d'un expert</li>
					</ul>
				</faq>
			</div>
			<div class="one third padded">
				<faq title="Quels sont les sujets abordés ?">
                    <p>
                        Pour cette journée, quatre catégories de sujets ont été retenus : 
                    </p>
					<ul>
						<li>Android : Sujets portant sur le framework mobile Android</li>
						<li>Web : Sujets portant sur des frameworks javascript ou des nouveautés HTML5</li>
						<li>Cloud : Sujets portant sur les infrasturctures cloud de Google tels AppEngine, ComputeEngine</li>
						<li>Découverte : Sujets portant sur les nouveaux usages de l'informatiques, les nouvelles technologies et même sur l'UX</li>
					</ul>
                </faq>
			</div>
			<div class="one third padded">
				<faq title="Comment s'inscrire et combien cela coûte-t-il ?">
                    <p>
                        L'inscription au DevFest Nantes peut se faire directement depuis le site actuel en cliquant sur le lien suivant : <a href="./index.html#/subscribe">Inscriptions</a>. L'entrée coûte 20€ pour les professionnels et est gratuite pour les étudiants. 
                    </p>
                </faq>
			</div> 
			<div class="one third padded">
				<faq title="Puis je faire financer mes entrées par la formation professionelle ?">
                    <p>
                        Vous pouvez faire prendre en charge tout ou partie de cette somme sur votre budget <strong>"formation continue"</strong>. Stage éligible au DIF. Les frais sont à payer directement par l'entreprise participante, pas de subrogation OPCA acceptée.
                    </p>
                </faq>
			</div>
			<div class="one third padded">
				<faq title="Les présentations sont-elles filmées">
                    <p>
                        Toutes les sessions à l'exception de la keynote et des codelabs seront filmées et mise à disposition sur la chaine youtube suivante : <a href="http://youtube.com/user/francegdg">GDG France</a>
                    </p>
                </faq>
			</div>
			<div class="one third padded">
				<faq title="Il y a t-il un nombre de places ilimitées ?">
                    <p>
                        Le nombre de place est limités à : 
                    </p>
					<ul>
						<li> 120 entrées payantes</li>
						<li> 50 entrées étudiantes gratuites</li>
					</ul>
					S'il n'y a plus de places disponibles, un système de liste d'attente sera mise en place.
                </faq>
			</div>
			<div class="one third padded">
				<faq title="Les présentations sont-elles en anglais ou en français ?">
                    <p>
                        Etant donné que certains intervenants viennent de l'étranger, certaines sessions seront en anglais. Ces sessions seront indiquées par un pictogramme.
                    </p>
                </faq>
			</div>
			<div class="one third padded">
				<faq title="Combien y a t-il de présentations en parallèle ?">
                    <p>
                        Il y aura toute la journée 5 présentations en parallèle.
                    </p>
                </faq>
			</div>
				<div class="one third padded">
				<faq title="Ma présentation a été acceptée, dois-je payer mon entrée à la conférence ?">
                    <p>
                        Tous les intervenants ont leur entrée offerte. Il n'est donc pas nécessaire de prendre une place. Que vous soyez tout seul ou plusieurs à présenter.
                    </p>
                </faq>
			</div>
			<div class="one third padded">
				<faq title="Ma présentation n'a pas encore été acceptée, dois-je payer prendre ma place au cas où ?">
                    <p>
                        Nous contacterons tous les intervenants et nous ouvrirons ci nécessaire de nouvelles places pour permettre à ces derniers de s'inscrire.
                    </p>
                </faq>
			</div>
			<div class="one third padded">
				<faq title="Quand / Ou ?">
                    <p>
                        La conférence a lieu le 8 Novembre 2013 à Epitech Nantes.
                    </p>
                </faq>
			</div>
			<div class="one third padded">
				<faq title="Qui organise ?">
                    <p>
                        Le DevFest Nantes 2013 est organisé par le GDG Nantes. L’objectif du GDG Nantes est d’organiser des évènements de manière régulière : 
                    </p>
                    <ul>
                        <li>Conférences sur les technologies Google, Web ...</li>
                        <li>Des apéros ;) autour de sujets centraux afin de se rencontrer et boire un verre ensemble</li>
                        <li>Des concours (Hackathon...)</li>
                    </ul>
                    <p>
                        Le GDG Nantes est également partenaire d’évènements nationaux ou d'autres communautés tels que les JUG.
                    </p>
                </faq>
			</div>
            <div class="one third padded">
				<faq title="Je suis président d'un User Group, comment puis-je vous aider ?">
                    <p>
                        En tant que User Group, vous pouvez nous aider sur plusieurs aspects : 
                    </p>
                    <ul>
                        <li>En nous aidant à trouver des speakers.</li>
                        <li>En diffusant l'événement dans votre réseau. Pour cela, nous avons mis à votre disposition plusieurs éléments dans la partie presse pour la diffusion : affiches, bannières.</li>
                    </ul>
                </faq>
			</div>
		</div>
</div>




