<div class="row padded">

	<div class="row block-info">
		<div class="six eighths padded">
			<h3 class="border"><i class="icon-eye-open"></i>&nbsp;Identité visuelle (à diffuser sans modération)</h3>
			<br/>
			<a href="images/devfest/no-sprites/banniere_468x60.png"><img src="images/devfest/no-sprites/banniere_468x60.png" /></a>	
		</div>
		<div class="two eighths padded">
			<div class=" error callout">
				<a href="{{ urlDocPresse }}"  target="_NEW" class="white">
					<h3><i class="icon-download icon-3x pull-left"></i>Téléchargez notre Dossier de presse</h3>
				</a>
			</div>
		</div>
		<div class="row padded align-center">
			<div class="one fifth">
				<a href="images/devfest/no-sprites/2013_11_08_devFest.png"><img src="images/devfest/no-sprites/2013_11_08_devFest.png" /></a>
			</div>
			<div class="one fifth">
				<a href="images/devfest/no-sprites/banniere_160x400.png"><img src="images/devfest/no-sprites/banniere_160x400.png" /></a>
			</div>
			<div class="two fifths align-left">
				<a href="images/devfest/no-sprites/banniere_300x125.png"><img src="images/devfest/no-sprites/banniere_300x125.png" /></a>
				<br/><br/>
				<a href="images/devfest/no-sprites/banniere_300x250.png"><img src="images/devfest/no-sprites/banniere_300x250.png" /></a>
			</div>
		</div>
	</div>

	<div class="row padded block-info">
		<h3 class="border"><i class="icon-globe"></i>&nbsp;Ils parlent du DevFest Nantes 2013</h3>
		<p>
			
			<ul class="list pad-left">
				
					<li><a href="http://www.programmez.com/actualites.php?id_actu=13640">Programmez</a></li>
				
			</ul>
		</p>
	</div>

</div>