
<!-- CALL FOR PAPER -->
<!--<div class="row pad-top">
	<div class="two centered mobile third callout justify">	
		<h3><i class="icon-group icon-3x pull-left"></i>Ils ont déjà confirmé</h3>
		<p>
			Voici une liste des speakers qui nous ont déjà confirmé leur présence.</br></br>
			Le programme complet sera disponible fin septembre.
		</p>
	</div>
</div>
-->
<!-- Session list builder -->
<div class="row padded speaker-parent">
	<div class="row pad-bottom" ng-repeat="speaker in speakers">	
		<div class="four sixths skip-one sessions speaker-tracker padded" ng-show="speaker.visible">
				<!-- Speaker photo -->
				<div class="speaker pull-left {{speaker.id}}" ></div>
				
				<!-- Speaker links description -->
				<a href="{{ speaker.urlGooglePlus }}" ng-show="speaker.urlGooglePlus" target="_NEW"><i class="icon-google-plus-sign icon-2x pull-right"></i></a>
				<a href="{{ speaker.urlTwitter }}" ng-show="speaker.urlTwitter" target="_NEW"><i class="icon-twitter-sign icon-2x pull-right"></i></a>
				<a href="{{ speaker.urlWebsite }}" ng-show="speaker.urlWebsite" target="_NEW"><i class="icon-globe icon-2x pull-right"></i></a>
				<a href="{{ speaker.urlGithub }}" ng-show="speaker.urlGithub" target="_NEW"><i class="icon-github icon-2x pull-right"></i></a>

				<!-- Speaker name & biography -->
				<div>
					<a name="{{ speaker.id }}"></a>
					<h3 class=" padded" style="width:70%">{{ speaker.displayName }}</h3>
					<div style="padding-left:110px;word-wrap: break-word;" ng-bind-html-unsafe="speaker.bio"></div>
				</div>
		</div>
	</div>
</div>
