<div class="row padded align-center">
	<br/>
    <a href="http://yurplan.com/event/Dev-Fest-Nantes-2013/1984/tickets" target="_blank" class="large success button">Cliquez sur ce bouton pour vous inscrire</a>
   <!--<a href="http://yurplan.com/event/Dev-Fest-Nantes-2013/1984/tickets" target="_blank" class="large success button" ng-show="isIE">Cliquez sur ce bouton pour vous inscrire</a>-->
   <!--<iframe id="iframeInscription" src="http://yurplan.com/asso/GDG-Nantes/476/ticketing/widget" scrolling="auto" frameborder="0" ng-hide="isIE"></iframe>-->
</div>