<div class="row padded align-center">
	<br/>
	Il n'y a actuellement plus de places disponibles, nous faisons notre possible pour ouvrir de nouvelles places prochainement. <br>Pour être tenu au courant, merci de suivre notre actualité sur <a href="http://twitter.com/gdgnantes">Twitter</a> et <a href="https://plus.google.com/u/0/104080355394243371522/posts">Google +</a>. Nous y publierons notre solution.<br><br>
    <!--<a href="http://yurplan.com/event/Dev-Fest-Nantes-2013/1984/tickets" target="_blank" class="large success button">Cliquez sur ce bouton pour vous inscrire</a>-->



    
   <!--<a href="http://yurplan.com/event/Dev-Fest-Nantes-2013/1984/tickets" target="_blank" class="large success button" ng-show="isIE">Cliquez sur ce bouton pour vous inscrire</a>-->
   <!--<iframe id="iframeInscription" src="http://yurplan.com/asso/GDG-Nantes/476/ticketing/widget" scrolling="auto" frameborder="0" ng-hide="isIE"></iframe>-->
</div>