  <!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="devfest"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"  ng-app="devfest"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="devfest"> <![endif]-->
  <!--[if gt IE 8]><!-- --> <html class="no-js" ng-app="devfest"> <!--<![endif]-->
  

  <!-- A mettre à la place de la balise html en PROD
  <html class="no-js" ng-app="devfest" manifest="devfest_appcache.manifest">-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"><title>Devfest Nantes 2013</title>
		<meta name="fragment" content="!" />
		<script src="js/app.js?ver=1380922280933"></script>

		<link rel="stylesheet" href="css/app.css?ver=1380922280933">
		<link rel="stylesheet" href="./font/roboto/stylesheet.css" type="text/css" charset="utf-8">

		<!--[if IE]><link type="text/css" rel="stylesheet" href="./css/groundwork-ie.css"><![endif]-->
		<!--[if IE 7]><link type="text/css" rel="stylesheet" href="./css/font-awesome-ie7.min.css"><![endif]-->

		<link rel="icon" type="image/png" href="images/favicon.ico" />

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-35116426-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>

		<!--[if IE]><script>angular.bootstrap(document, ['devfest']);</script> <![endif]-->
	</head>
	<body>
		<!-- HEADER -->
		<header  class="row stick stick.top">
			<div class="row hide-on-small-tablet">
				<!-- LOGO -->
				<div class="row gap-top pad-left">
					<h1 style="display:inline-block;" class="siteTitle">
						<a href="./index.html#/homepage" class="no-color">
						<div class="chevron_bg" style="margin-top:5px; float:left; margin-right:10px;" ></div>
						<span class="robotoblack" style="marging-top:10px">Devfest</span> Nantes 2013 <small>by GDG Nantes</small>
						</a>
					</h1>

					<!-- SOCIAL LINKS -->
					<div class="pull-right align-right padded">
						<!-- Placez cette balise où vous souhaitez faire apparaître le gadget Bouton +1. -->
						<div class="g-plusone" data-size="medium"></div>
						<!-- Placez cette ballise après la dernière balise Bouton +1. -->
						<script type="text/javascript">
						  window.___gcfg = {lang: 'fr'};

						  (function() {
						    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
						    po.src = 'https://apis.google.com/js/plusone.js';
						    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
						  })();
						</script>

						<a href="http://gplus.gdgnantes.com/" target="_NEW" class="icons"><i class="icon-google-plus-sign icon-3x"></i></a>
						&nbsp;
						<a href="http://twitter.com/gdgnantes" target="_NEW" class="icons"><i class="icon-twitter-sign icon-3x"></i></a>
						&nbsp;
						<a href="http://www.facebook.com/gdgnantes" target="_NEW" class="icons"><i class="icon-facebook-sign icon-3x"></i></a>
						<br/>
						<small>#devfest #devfest2013 #gdg #gdgnantes</small>
					</div>
					
				</div>

				
			</div>
			<div class="bkg-header-bottom">&nbsp;</div>
			<div class="row bkg-nav" ng-controller="NavigationCtrl">
				<nav class="inline menu nav" data-label="Devfest Nantes 2013">
					<!-- MENU (configured in the ./js/devfest/app.js file) -->
		          	<ul class="row">
		          		<li ng-repeat="item in navItems" ng-class="item.style.class">
		          			<a href="./index.html#{{ item.url }}" ng-click="select( item )">{{ item.label }}</a>
		          		</li>
					</ul>
				</nav>
				<div class="pull-right  hide-on-small-tablet" style="padding-top:15px;padding-right:5px">
					<!-- Placez cette balise où vous souhaitez faire apparaître le gadget youtube. --> 
					<div class="g-ytsubscribe" data-channel="francegdg" data-layout="default"></div>&nbsp;&nbsp;
					<!-- Place this tag where you want the badgev2 to render. -->
					<div class="g-follow " data-annotation="bubble" data-height="20" data-href="//plus.google.com/104080355394243371522" data-rel="publisher"></div>&nbsp;

					<!-- Place this tag after the last badgev2 tag. -->
					<script type="text/javascript">
					  window.___gcfg = {lang: 'fr'};

					  (function() {
					    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					    po.src = 'https://apis.google.com/js/plusone.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					  })();
					</script>
				</div>
			</div>
		</header>
		
		<div class="stickheight"></div>

		<!-- CONTENT -->
		<div class="row" ng-view>	
			
		</div>

		<!-- SPONSORS -->	
		<div class="row sponsors padded" ng-hide="sponsorpage">
			<div class="row premium align-center padded">
				<span>sponsor platinium</span><br>
                <br/><br/>
                <div class="row">
                    <div class="one third">
                        <a href="https://developers.google.com/" traget="_NEW"><div class="sprite_sponsors google"></div></a>
                    </div>
                    <div class="one third">
                        <a href="http://www.epitech.eu/" traget="_NEW"><div class="sprite_sponsors epitech"></div></a>
                    </div>
                    <div class="one third">
                        <a href="http://software.intel.com/fr-fr/android" traget="_NEW"><div class="sprite_sponsors intel"></div></a>
                    </div>
                </div>
			</div>
			<br/>
			<div class="row gold align-center padded">
				<span>sponsor gold</span><br>
				<br/><br/>
				<div class="row">
					<div class="one third">
					   <a href="http://www.genymobile.com/" target="_NEW"><div class="sprite_sponsors genymobile"></div></a>
                    </div>
                    <div class="one third">
                        <a href="http://www.zenika.com/" target="_NEW"><div class="sprite_sponsors zenika"></div></a>
                    </div>
					<div class="one third">
						<a href="http://www.visionobjects.com/fr/" target="_NEW"><div class="sprite_sponsors visionobjects"></div></a>
					</div>
				</div>
			</div>
		</div>

		<!-- FOOTER -->
		<footer class="pad-left pad-bottom">
			<span class="pad-top pad-right pull-left devfest_footer_bg"></span>
            
			&copy; 	Devfest Nantes 2013 - Organisé par le <a href="http://www.gdgnantes.com" target="_NEW" class="white">GDG Nantes</a> en partenariat avec <a href="http://nantes.epitech.eu" target="_NEW" class="white">Epitech Nantes</a>
			<a href="./index.html#/credits" class="white pull-right pad-right">Equipe / Crédits</a>
		</footer>
	</body>
	
</html>